@import '../common/styles/base';

.a-league-event {
    display: flex;

    margin: 2px 0;
    padding: $league-event-padding;

    transition: all $common-transition;

    color: $league-event-text-color;

    &:hover,
    &_selected {
        cursor: pointer;

        color: $league-event-selected-text-color;
        background-color: $league-event-selected-bg;

        // Use cascade because we need to set tick on checkbox
        .a-checkbox {
            color: $league-event-selected-text-color;
        }
    }

    &__title {
        margin-left: 10px;

        font-family: $font-primary;
        font-size: $league-event-text-size;
    }

    &__checkbox {
        display: flex;
        align-items: center;
    }
}
