@import '../common/styles/base';

.a-btn {
    display: flex;
    display: -webkit-box;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 32px;
    margin: 24px auto 0 auto;
    border: 0;
    border-radius: 4px;
    color: $btn-submit-text-color;
    font-size: 13px;
    font-weight: 500;
    background-color: $btn-submit-bg;
    transition: $common-transition;

    &:hover {
        background-color: $btn-submit-hover-bg;
    }

    &_mode_disabled {
        background-color: $btn-submit-disabled-bg;
        color: $btn-submit-disabled-text-color;

        &:hover {
            background-color: $btn-submit-disabled-bg;
            cursor: default;
        }
    }

    &_mode_busy {

        .a-btn__loader {
            opacity: 1;
            height: $btn-submit-loader-size;
            width: $btn-submit-loader-size;
            transition: opacity $common-transition;
        }

        .a-btn__title {
            display: none;
        }
    }

    &__loader {
        height: 0;
        width: 0;
        margin: 0 auto;
        background-image: url($btn-submit-loader-icon-path);
        background-size: cover;
        opacity: 0;
    }

    &__title {
        display: block;
    }
}
