@import '../common/styles/base';

.hidden,
[hidden] {
    display: none !important;
}

//
// Responsive: Utility classes
// --------------------------------------------------

// IE10 in Windows (Phone) 8
//
// Support for responsive views via media queries is kind of borked in IE10, for
// Surface/desktop in split view and for Windows Phone 8. This particular fix
// must be accompanied by a snippet of JavaScript to sniff the user agent and
// apply some conditional CSS to *only* the Surface/desktop Windows 8. Look at
// our Getting Started page for more information on this bug.
//
// For more information, see the following:
//
// Issue: https://github.com/twbs/bootstrap/issues/10497
// Docs: http://getbootstrap.com/getting-started/#support-ie10-width
// Source: http://timkadlec.com/2013/01/windows-phone-8-and-device-width/
// Source: http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
//
// Additional information: https://msdn.microsoft.com/ru-ru/library/hh869615(v=vs.85).aspx

@-ms-viewport {
    // NOSONAR
    //noinspection CssInvalidPropertyValue
    width: device-width; // NOSONAR
}

.hidden-xss {
    @media (max-width: $screen-xss-max) {
        @include responsive-invisibility;
    }
}

.hidden-xs {
    @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
        @include responsive-invisibility;
    }
}

.hidden-sm {
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        @include responsive-invisibility;
    }
}

.hidden-md {
    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        @include responsive-invisibility;
    }
}

.hidden-lg {
    @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        @include responsive-invisibility;
    }
}

.hidden-xlg {
    @media (min-width: $screen-xlg-min) {
        @include responsive-invisibility;
    }
}

.hidden-lt-md {
    @media (max-width: $screen-sm-max) {
        @include responsive-invisibility;
    }
}

.hidden-lt-lg {
    @media (max-width: $screen-md-max) {
        @include responsive-invisibility;
    }
}

.hidden-lt-xlg {
    @media (max-width: $screen-lg-max) {
        @include responsive-invisibility;
    }
}

.hidden-gt-md {
    @media (min-width: $screen-lg-min) {
        @include responsive-invisibility;
    }
}

.invisible {
    visibility: hidden;
}
