@import '../common/styles/base';

.a-switcher {
    position: relative;
    width: $switcher-width;
    height: $switcher-height;
    background-color: $switcher-bg;
    border-radius: 2px;

    &:hover {
        cursor: pointer;

        .a-switcher__handle {
            background-color: $switcher-handle-hover-bg;
        }
    }

    &_mode_on {

        .a-switcher__handle {
            background-color: $switcher-handle-mode-on-bg;
            border-radius: 2px;
            left: $switcher-handle-offset-left;
        }

        &:hover {

            .a-switcher__handle {
                background-color: $switcher-handle-hover-mode-on-bg;
            }
        }
    }

    &__handle {
        width: $switcher-handle-width;
        border-radius: 2px;
        height: inherit;
        left: 0;
        background-color: $switcher-handle-bg;
        transition: $common-transition;
        position: absolute;
    }
}
