@import '../common/styles/base';

.a-modal-deal {
    display: flex;

    width: $modal-deal-width;

    border-radius: inherit;
    background-color: $modal-deal-bg;

    &__sidebar {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        padding: $modal-deal-sidebar-horizontal-padding $modal-deal-sidebar-vertical-padding;
        width: $modal-deal-sidebar-width;
        min-height: 100%;

        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        background-color: $modal-deal-sidebar-bg;
    }

    &__content {
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 100%;
    }

    &__team {
        display: flex;
        align-items: center;

        height: $modal-deal-team-height;

        letter-spacing: $modal-deal-team-text-letter-spacing;

        color: $modal-deal-team-text-color;

        font-family: $font-secondary;
    }

    &__table {
        width: 100%;
    }

    &__table-head {
        width: 100%;
        height: $modal-deal-table-head-height;

        letter-spacing: $modal-deal-table-head-letter-spacing;

        opacity: $modal-deal-table-head-opacity;
        color: $modal-deal-table-head-text-color;
        background-color: $modal-deal-table-head-bg;

        font-family: $font-secondary;
        font-size: $modal-deal-table-head-text-size;
        font-weight: 500;
    }

    &__table-head-item {
        height: $modal-deal-table-head-item-height;
    }

    &__table-body-row {
        position: relative;
    }

    &__table-body-item {
        position: relative;

        padding: 0 $modal-deal-table-head-body-item-horizontal-padding;
        height: $modal-deal-table-head-body-item-height;

        font-family: $font-secondary;
        line-height: $modal-deal-table-head-body-item-line-height;

        &:first-of-type {
            padding-left: $modal-deal-table-item-padding;
        }

        &:last-of-type {
            padding-right: $modal-deal-table-item-padding;
        }

        &_text-pos_center {
            text-align: center;
        }
    }

    &__input {
        position: relative;

        width: $modal-deal-table-input-width;

        &_pos_right {
            float: right;
        }
    }

    &__input-form {
        padding-right: $modal-deal-table-input-pr;
        width: $modal-deal-table-input-width;
        height: $modal-deal-table-input-height;

        text-align: right;
        letter-spacing: $modal-deal-table-input-letter-spacing;

        border: $modal-deal-table-border-size solid $modal-deal-table-border-color;
        border-radius: $modal-deal-table-input-form-border-radius;
        background-color: $modal-deal-table-input-bg;

        font-family: $modal-deal-table-input-font;
        font-size: $modal-deal-table-input-text-size;
    }

    &__input-btn-clear {
        position: absolute;
        top: $modal-deal-input-btn-clear-position-top;
        right: $modal-deal-input-btn-clear-position-right;

        opacity: $modal-deal-input-btn-clear-opacity;
        color: $modal-deal-input-btn-clear-text-color;

        font-size: $modal-deal-input-btn-clear-text-size;

        &:hover {
            cursor: pointer;
        }
    }

    &__event {
        position: absolute;
        top: $modal-deal-table-event-position-top;

        width: $modal-deal-table-event-width;

        letter-spacing: $modal-deal-table-event-letter-spacing;

        color: $modal-deal-table-event-text-color;

        font-family: $font-primary;
        font-size: $modal-deal-table-event-text-size;
        line-height: $modal-deal-table-event-height;
    }

    &__sidebar-row {
        display: flex;
        flex-direction: column;

        padding: $modal-deal-sidebar-row-vertical-padding 0;
        width: 100%;

        border-top: $modal-deal-sidebar-row-border-height solid $modal-deal-sidebar-row-border-color;

        &_type_header {
            flex-direction: row;

            padding-top: 0;

            border-top: 0;
        }
    }

    &__menu {
        display: flex;

        height: $modal-deal-team-menu-height;
    }

    &__menu-item {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;

        height: 100%;

        letter-spacing: $modal-deal-team-menu-item-letter-spacing;

        color: $modal-deal-team-menu-item-text-color;
        border-right: $modal-deal-team-menu-item-border-width solid $modal-deal-team-menu-item-border-color;

        font-size: $modal-deal-team-menu-item-text-size;

        &:last-of-type {
            border-right: 0;
        }

        &_disabled {
            color: $modal-deal-team-menu-item-disabled-text-color;
        }

        &_selected {
            color: $modal-deal-team-menu-item-selected-text-color;
            background-color: $modal-deal-team-menu-item-selected-bg;
        }
    }

    &__league {
        font-family: $font-secondary;
        font-weight: 500;
    }

    &__league-name {
        margin-top: $modal-deal-league-name-mt;

        letter-spacing: $modal-deal-league-name-letter-spacing;

        color: $modal-deal-league-name-text-color;

        font-size: $modal-deal-league-name-text-size;
    }

    &__league-country {
        margin-top: $modal-deal-league-country-mt;

        letter-spacing: $modal-deal-league-country-letter-spacing;
        text-transform: uppercase;

        opacity: $modal-deal-league-country-text-opacity;
        color: $modal-deal-league-country-text-color;

        font-size: $modal-deal-league-country-text-size;
    }

    &__date {
        color: $modal-deal-date-color;

        font-size: $modal-deal-date-text-size;
    }

    &__start-time {
        margin: $modal-deal-start-time-mt 0;

        color: $modal-deal-start-time-text-color;

        font-size: $modal-deal-start-time-text-size;
    }

    &__icon {
        margin-left: auto;

        opacity: $modal-deal-icon-opacity;
        color: $modal-deal-icon-color;

        font-size: $modal-deal-icon-size;
    }

    &__clear {
        width: 100%;
        height: $modal-deal-clear-height;
    }

    &__add-ons {
        display: flex;
        flex-direction: row;

        margin-top: $modal-deal-add-ons-mt;
        padding: 0 $modal-deal-add-ons-vertical-padding;
        width: 100%;
        height: $modal-deal-add-ons-height;
    }

    &__buttons {
        display: flex;
        flex-direction: row;

        margin: $modal-deal-buttons-vertical-margin 0;
        padding: 0 $modal-deal-buttons-horizontal-padding;
        width: 100%;
        height: $modal-deal-buttons-height;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: $modal-deal-btn-width;
        height: $modal-deal-btn-height;

        color: $modal-deal-btn-text-color;
        border: $modal-deal-btn-border-height solid $modal-deal-btn-border-color;
        border-radius: $modal-deal-btn-border-radius;

        font-size: $modal-deal-btn-text-size;

        &:hover {
            cursor: pointer;
        }

        &_pos_right {
            margin-left: auto;
        }

        &_type_fill {
            color: $modal-deal-btn-type-fill-text-color;
            border-color: $modal-deal-btn-type-fill-border-color;
            background-color: $modal-deal-btn-type-fill-bg;
        }
    }

    &__btn-add-on {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: center;

        margin: 0 $modal-deal-btn-add-on-horizontal-margin;
        height: 100%;

        -moz-user-select: none;
        user-select: none;

        color: $modal-deal-btn-add-on-text-color;
        border: 1px solid $modal-deal-btn-add-on-border-color;
        border-radius: $modal-deal-btn-add-on-border-radius;

        font-size: $modal-deal-btn-add-on-text-size;

        &:first-of-type {
            margin-left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &:hover {
            cursor: pointer;
            transition: all $common-transition;
        }

        &:hover,
        &_selected {
            color: $modal-deal-btn-add-on-selected-color;
            border-color: $modal-deal-btn-add-on-selected-color;
        }
    }
}
