@import '../common/styles/base';

.a-login-form {
    display: flex;
    flex-direction: column;
    width: $login-form-width;

    &__heading {
        color: $login-form-heading-text-color;
        text-align: center;
        font-size: $login-form-heading-text-size;
        letter-spacing: .6px;
        margin-bottom: 40px;
    }

    &__description {
        color: $login-form-description-text-color;
        font-size: 14px;
        text-align: center;
        letter-spacing: .3px;
        margin-bottom: 30px;
        opacity: .9;
    }

    &__input {
        border: 0;
        font-size: 14px;
        letter-spacing: .2px;
        margin: 10px 0;
        padding-left: $login-form-input-horizontal-padding;
        padding-right: $login-form-input-horizontal-padding;
        height: $login-form-input-height;
        border-radius: 4px;
        background-color: $login-form-input-bg;
        color: $login-form-input-text-color;

        &::placeholder {
            font-size: 14px;
            letter-spacing: .2px;
            color: $login-form-input-placeholder-text-color;
        }
    }

    &__remember-me {
        display: flex;
        align-content: center;
        margin-top: 32px;
        height: 28px;
        width: 100%;
        border-bottom: 1px solid $login-form-remember-me-border-color;
    }

    &__remember-me-title {
        font-size: 14px;
        opacity: .9;
        letter-spacing: .4px;
        color: $login-form-remember-me-title-text-color;
    }

    &__remember-me-switcher {
        margin-left: auto;
    }

    &__alert {
        background-color: $login-form-alert-bg;
        padding: 0;
        letter-spacing: .3px;
        margin-top: 16px;
        text-align: center;
        line-height: 1.62;
        color: #ffffff;
        font-size: 13px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all $common-transition;

        &_showed {
            height: auto;
            opacity: 1;
            padding: 6px 33px;
        }
    }

    &__btn-submit {
        margin: 24px auto 0 auto;
    }
}
