@import '../common/styles/base';

.a-tickets {
    display: flex;
    flex-direction: column;

    &__ticket {
        margin: 4px;
        padding: 8px;

        border: 1px solid rgba(#bac9db, .2);
        border-radius: 4px;
        background-color: #3c4250;
    }

    &__ticket-actions {
        display: flex;

        margin-left: auto;

        color: #778793;

        .a-vip-icon_zip {
            position: relative;
            left: 3px;

            margin-left: 2px;
        }
    }

    &__ticket-event {
        color: #8894a5;

        font-size: .75em;
    }

    &__ticket-outcome {
        color: #fff;

        font-size: 13px;
        font-weight: 500;
    }

    &__ticket-price {
        margin-right: 62px;
        margin-left: auto;

        color: #2cb0ff;

        font-size: .8125em;

        @media (min-width: $screen-xlg-min) {
            margin-right: 78px;
        }
    }

    &__ticket-amount {
        min-width: 74px;

        text-align: right;

        color: #fff;

        font-size: .8125em;
    }

    &__ticket-row {
        display: flex;
        align-items: center;

        height: 18px;
    }
}
