@import '../common/styles/base';

.a-sidebar-left {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    width: $sidebar-left-width-md;
    min-height: 100%;

    background-color: $sidebar-left-bg;

    @media (min-width: $screen-lg-min) {
        width: $sidebar-left-width-lg;
    }

    &__leagues {
        height: $layout-sidebar-left-leagues-height;
    }
}
