@import '../common/styles/base';

.a-league {
    display: flex;
    flex-direction: column;

    &__header {
        position: relative;

        display: flex;
        align-items: center;

        padding: $league-header-padding 0 $league-header-padding $league-header-padding;
        width: $league-header-width;
        height: $league-header-height;

        transition: all $common-transition;

        &:hover {
            cursor: pointer;

            // Use cascade because we need to set tick on checkbox
            .a-checkbox {
                color: $league-event-selected-text-color;
            }
        }

        &:after {
            position: absolute;
            right: 0;
            bottom: 0;

            width: $league-header-border-width;
            height: $league-header-border-height;

            content: ' ';

            background-color: $league-header-border-color;
        }
    }

    &__title {
        margin-left: 10px;

        color: $league-header-text-color;

        font-family: $font-secondary;
        font-size: $league-title-text-size;
        font-weight: 500;
    }

    &__btn-expand {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 4px;
        margin-left: auto;
        width: $league-btn-collapse-width;
        height: $league-btn-collapse-height;

        transition: all $common-transition;

        color: $league-btn-collapse-color;

        font-size: $league-btn-collapse-size;

        &_active {
            transform: rotate(180deg);
        }
    }

    &__events {
        overflow: hidden;

        margin-top: 8px;
        max-height: 0;

        transition: max-height $collapse-transition;

        &_expanded {
            // Hack for collapse-animation
            max-height: 1000px;
        }
    }
}
